/*#coverPhoto {
	background-image: url('https://image.freepik.com/free-vector/script-writing-software-engineering-coding-workshop-code-created-workshop-online-programming-course-apps-games-development-class-concept_335657-818.jpg'); 	
	background-repeat: no-repeat;
	background-position: right bottom;
	height:45vh; 	
	background-size: 45%;
}*/